---
import Layout from "../layouts/Layout.astro";
import { FintechHero } from "../widgets/FintechHero";
import { FintechProjects } from "../widgets/FintechProjects";
import { FintechSolutions } from "../widgets/FintechSolutions";
import { FintechCapabilities } from "../widgets/FintechCapabilities";
import { FintechTestimonials } from "../widgets/FintechTestimonials";
import { BankLogos } from "../widgets/BankLogos";
import { ContactForm } from "../features/ContactForm";
---

<Layout>
  <div class="min-h-screen">
    <FintechHero client:load />
    <BankLogos client:load />
    <FintechSolutions client:load />
    <FintechProjects client:load />
    <FintechCapabilities client:load />
    <FintechTestimonials client:load />
    <ContactForm client:load />
  </div>
</Layout>
