---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../widgets/Hero';
import { Services } from '../widgets/Services';
import { ContactForm } from '../features/ContactForm';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="min-h-screen">
		<Hero client:load />
		<Services client:load />
		<ContactForm client:load />
	</div>
</Layout>
